<nav class="navbar sidebar pull-left" role="navigation">
    <div class="busqueda">
      <%= form_tag(favors_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Ingrese una palabra clave", class: "form-control field_search" %>
        <br><br>
        <%= text_field_tag :searchc, params[:searchc], placeholder: "Ingrese una ciudad", class: "form-control field_search" %>
        <br><br>
        <%= submit_tag "Buscar", :name => nil, class: "confirmationb-btn btn btn-warning" %>
      <!--<% end %>-->
      <br><br>
    <!--</div>-->
    <!--<%= form_tag(favors_path, :method => "get", id: "order-form") do %>-->
    <!--<div class="form-group text-left" id="Ordenes">-->
      <select name="orden" width="200" style="width: 200px">
        <% if (params[:orden] == "Most") %>
          <option value="Fecha">Fecha</option>
          <option value="Most" selected>Más visitas</option>
          <option value="Less">Menos visitas</option>
        <% end %>
        <% if (params[:orden] == "Less") %>
          <option value="Fecha">Fecha</option>
          <option value="Most">Más visitas</option>
          <option value="Less" selected>Menos visitas</option>
        <% end %>
        <% if ((params[:orden] == "Fecha") || (params[:orden] == nil)) %>
          <option value="Fecha" selected>Fecha</option>
          <option value="Most">Más visitas</option>
          <option value="Less">Menos visitas</option>
        <% end %>
      </select>
      <br>
      <br>
      <%= submit_tag "Ordenar", :name => nil, class: "confirmationb-btn btn btn-warning " %>
      <br><br>
      <%= link_to "Reiniciar", favors_path, class: "confirmationb-btn btn btn-warning favor_btn" %>
      <% end %>
    </div>
  
</nav>