<div class="col-md-12 container favor_com">
	<h3> Comentarios <%if current_usuario != nil && @favor.usuario_id != current_usuario.id%><%= link_to "Preguntar",  new_comentario_path(favor_id: @favor.id) , class: "btn btn-warning pull-right favor_btn" %><%end%></h3> 
	<table class="table table-condensed" style="margin-top: 2em" >
		<% i = 1 %>
		<% @favor.comentarios.each do |c| %>
			<tr>
				<td>
					<%= i %>
				</td>
				<td>
						<% if c.descripcion != nil %>
							<p><b>Pregunta:</b> <%= c.descripcion %> <%if current_usuario != nil && @favor.usuario_id == current_usuario.id%><em class="pull-right"><%=c.usuario.nombre%> <%=c.usuario.apellido%></em><%elsif current_usuario != nil && c.usuario_id == current_usuario.id%><em class="pull-right">Mi pregunta</em><%end%></p>
							<% if c.respuesta != nil %>
								<p><b>Respuesta:</b> <i><%= c.respuesta %></i></p>
							<% elsif current_usuario != nil && @favor.usuario_id == current_usuario.id %>
								<%= link_to "Responder",  edit_comentario_path(c.id, favor_id: @favor.id) , class: "btn btn-warning btn-xs pull-right" %>
							<%elsif current_usuario != nil && c.usuario_id == current_usuario.id && c.respuesta == nil%>
								<%= render 'boton_eliminar_show_com', c: c %>
							<%end%>
						<% end %>
				</td>
			</tr>
			<% i = i + 1 %>
		<% end %>
	</table>
</div>