<div>
	<div class="container">
		<table class="table table-condensed">

			<% @favors.each do |favor| %>
				<tr>
					<td>
						<div class="container well">
							<div class="row">
							  <div class="col-md-8 col-md-offset-2">
							    <div class="thumbnail">
							    <h3 class="text-center"> <%= favor.titulo %> </h3>
							      	<% if favor.foto_url == nil %>
										<%= image_tag "logo.png", title: "Logo" %>
									<% else %>
										<%= image_tag favor.foto_url, title: "Imagen Favor", :width => 350, :crop => :fit %>
									<% end %>
							      <div class="caption">
							      	<% s = favor.descripcion[0..140] %>
							      	<% if s.length == 141 %>
							      		<% s[141..143] = "..." %>
							      	<% end %>
							      	<p><%= s %></p>
							        <p><%= link_to "Ofrecerme", favor_path(favor.id), class: "btn btn-warning" %> <%= link_to "Detalles", favor_path(favor.id), class: "btn btn-default" %></p>
							        <p class="text-right"><small><%= favor.ciudad %> | <%= localize(favor.created_at, :format => :long) %></small></p>
							      </div>
							    </div>
							  </div>
						</div>
					</td>
				</tr>	
			<% end %>
		</table>
	</div>
</div>
