<div class="container-fluid">
	<div class="row favor_up panel panel-default">
		<div class="row">
			<div class="col-md-6">
				<h1 class="text-left"> <%= @favor.titulo %> </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 favor_foto">
				<% if ((@favor.foto_url == "") || (@favor.foto_url == nil)) %>
					<%= image_tag "logo.png", title: "Logo", size: "380x380" %>
				<% else %>
					<%= image_tag @favor.foto_url, title: "Imagen Favor", :width => 380, :crop => :fit %>
				<% end %>
				<br><br><br>
				<div class="text-left">
					<% if current_usuario != nil && (current_usuario.id == @favor.usuario_id || isAdmin?)%>
		        		<%= render botones_owner_show_favor %>
					<% else %>

						<% if current_usuario != nil && !isAdmin? && !ofreci(@favor.id, current_usuario.id) && !elegido(@favor.id) %>
							<%= link_to "Ofrecerme",  new_ofrecimiento_path(favor_id:@favor.id), class: "btn btn-warning favor_btn" %>
						<% elsif current_usuario != nil && ofreci(@favor.id, current_usuario.id) && !elegido(@favor.id) %>
							<%= link_to "Ver ofrecimiento",  ofrecimiento_path(find_ofrecimiento(@favor.id, current_usuario.id), favor_id:@favor.id), class: "btn btn-default favor_btn", style: "color: #FF8119"  %>
						<%end%>
						<%= link_to "Volver", favors_path, class: "btn btn-default favor_btn" %> 
		        	<% end %>					
				</div>
			</div>
			<div class="col-md-6 favor_desc">
				<p class= "text-justify"><%=@favor.descripcion%></p>
				<div class="caption">
					<% if @favor.usuario == nil %>
						<p class="text-right"><small>Escrito por <b>un fantasma </b></small></p>
					<% else %>
						<p class="text-right"><small>Escrito por <b><%= @favor.usuario.nombre %> <%= @favor.usuario.apellido %></b></small></p>
					<% end %>
					<p class="text-right"><small><%= @favor.visitas %> visitas | <%= @favor.ciudad %> | <%= localize(@favor.created_at, :format => :long) %></small></p>
				</div>
			</div>
		</div>
	</div>
			<div class="col-md-12 container favor_com">
				<h3> Comentarios <%if current_usuario != nil && @favor.usuario_id != current_usuario.id%><%= link_to "Preguntar",  new_comentario_path(favor_id: @favor.id) , class: "btn btn-warning pull-right favor_btn" %><%end%></h3> 
				<table class="table table-condensed" style="margin-top: 2em" >
					<% i = 1 %>
					<% @favor.comentarios.each do |c| %>
						<tr>
							<td>
								<%= i %>
							</td>
							<td>
									<% if c.descripcion != nil %>
										<p><b>Pregunta:</b> <%= c.descripcion %> <%if current_usuario != nil && @favor.usuario_id == current_usuario.id%><em class="pull-right"><%=c.usuario.nombre%> <%=c.usuario.apellido%></em><%elsif current_usuario != nil && c.usuario_id == current_usuario.id%><em class="pull-right">Mi pregunta</em><%end%></p>
										<% if c.respuesta != nil %>
											<p><b>Respuesta:</b> <i><%= c.respuesta %></i></p>
										<% elsif current_usuario != nil && @favor.usuario_id == current_usuario.id %>
											<%= link_to "Responder",  edit_comentario_path(c.id, favor_id: @favor.id) , class: "btn btn-warning btn-xs pull-right" %>
										<%elsif current_usuario != nil && c.usuario_id == current_usuario.id && c.respuesta == nil%>
											<%= render boton_eliminar_show_com %>
										<%end%>
									<% end %>
							</td>
						</tr>
						<% i = i + 1 %>
					<% end %>
				</table>
			</div>
</div>