<div class="container-fluid">
	<div class="row favor_up panel panel-default">
		<div class="row">
			<div class="col-md-6">
				<h1 class="text-left"> <%= @favor.titulo %> </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 favor_foto">
				<% if ((@favor.foto_url == "") || (@favor.foto_url == nil)) %>
					<%= image_tag "logo.png", title: "Logo", size: "380x380" %>
				<% else %>
					<%= image_tag @favor.foto_url, title: "Imagen Favor", :width => 380, :crop => :fit %>
				<% end %>
				<br><br><br>
			</div>
			<div class="col-md-6 favor_desc">
				<p class= "text-justify"><%=@favor.descripcion%></p> <br>
				<div class="caption">
					<% if @favor.usuario == nil %>
						<p class="text-right"><small>Pedido por <b>un fantasma </b></small></p>
					<% elsif current_usuario != nil && elegido(@favor.id) && soy_elegido(@favor.ofrecimiento_electo_id) %>
						<p class="text-right"><small>Pedido por <b><%=link_to @favor.usuario.nombre+" "+@favor.usuario.apellido, usuario_path(id: @favor.usuario_id), class: "nom_link"%></b></small></p>
					<% else %>
						<p class="text-right"><small>Pedido por <b><%= @favor.usuario.nombre+" "+@favor.usuario.apellido %></b></small></p>
					<% end %>
					<p class="text-right"><small><%= @favor.visitas %> visitas | <%= @favor.ciudad %> | <%= localize(@favor.created_at, :format => :long) %></small></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class= "col-md-3 text-left">
				<%if @favor.activo && current_usuario != nil && (current_usuario.id == @favor.usuario_id || isAdmin?)%>
		        		<%= render 'botones_owner_show_favor', favor: @favor %>	
				<%end%>
			</div>
			<div class="col-md-4 text-right">
				<% if current_usuario != nil && current_usuario.id == @favor.usuario_id && !elegido(@favor.id) %>
					<%= link_to "Elegir candidato", eleccion_favor_path, class: "btn btn-warning favor_btn" %>
				<% elsif current_usuario != nil && !isAdmin? && !ofreci(@favor.id, current_usuario.id) && !elegido(@favor.id) %>
					<%= link_to "Ofrecerme",  new_ofrecimiento_path(favor_id:@favor.id), class: "btn btn-warning favor_btn" %>
				<% elsif current_usuario != nil && ofreci(@favor.id, current_usuario.id) && !elegido(@favor.id) %>
					<%= link_to "Ver ofrecimiento",  ofrecimiento_path(find_ofrecimiento(@favor.id, current_usuario.id), favor_id:@favor.id), class: "btn btn-default favor_btn", style: "color: #FF8119"  %>
				<% elsif current_usuario.id != nil && current_usuario.id == @favor.usuario_id && @favor.activo && elegido(@favor.id) %>
					<%= link_to "Ver ofrecimiento",  ofrecimiento_path(@favor.ofrecimiento_electo_id, favor_id:@favor.id) , class: "btn btn-default", style: "color: #FF8119" %>
					<%= link_to "Terminar", aceptar_favor_path, class: "btn btn-warning favor_btn" %>
				<% elsif @favor.resena_id != nil %>
					<%= render 'resenas/modal_resena', resena: Resena.find(@favor.resena_id)%>
				<% end %>
			</div>
			<div class= "col-md-4 style-orange">
				<% if @favor.resena_id != nil %>
					<p ><small>Favor terminado</small></p>
				<% elsif elegido(@favor.id)%>
					<p ><small>Favor en producción</small></p>
				<% end %>
			</div>
			<div class="col-md-1 pull-bottom">
				<%= link_to "Volver", favors_path, class: "btn btn-default favor_btn " %>
			</div>
		</div>
	</div>
			<%= render 'comentarios_Macu' %>
</div>