<div class="container-fluid">
	<div class="row favor_up panel panel-default">
		<div class="row">
			<div class="col-md-6">
				<h1 class="text-left"> <%= @favor.titulo %> </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 favor_foto">
				<% if ((@favor.foto_url == "") || (@favor.foto_url == nil)) %>
					<%= image_tag "logo.png", title: "Logo", size: "380x380" %>
				<% else %>
					<%= image_tag @favor.foto_url, title: "Imagen Favor", :width => 380, :crop => :fit %>
				<% end %>
				<br><br><br>
				<div class="text-left">
					<% if current_usuario != nil && current_usuario.id == @favor.usuario_id%>
		        		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalFavor_<%= @favor.id %>">Eliminar</button>
		        		<%= link_to "Editar", edit_favor_path(@favor.id), class: "btn btn-primary favor_btn" %>
		        		<%= link_to "Volver", favors_path, class: "btn btn-default favor_btn" %>
						<div class="modal fade" id="modalFavor_<%= @favor.id %>" tabindex="-1" role="dialog" aria-labelledby="borrando-logro">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content msg">
							      <div class="modal-body">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="borrando-logro">¿Estás seguro/a de que querés eliminar el favor?</h4>
							      </div>
							      <div class="modal-footer">
							        <%= link_to "Eliminar", @favor, method: :delete, class: "btn btn-danger" %>
							        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							      </div>
							    </div>
							  </div>
							</div>
					<% else %>

						<% if current_usuario != nil && !isAdmin? && !ofreci(@favor.id, current_usuario.id) && !elegido(@favor.id) %>
							<%= link_to "Ofrecerme",  new_ofrecimiento_path(favor_id:@favor.id), class: "btn btn-warning" %>
						<% elsif current_usuario != nil && ofreci(@favor.id, current_usuario.id) && !elegido(@favor.id) %>
							<%= link_to "Ver ofrecimiento",  ofrecimiento_path(find_ofrecimiento(@favor.id, current_usuario.id), favor_id:@favor.id), class: "btn btn-default", style: "color: #FF8119"  %>
						<%end%>
						<%= link_to "Volver", favors_path, class: "btn btn-default favor_btn" %> 
		        	<% end %>					
				</div>
			</div>
			<div class="col-md-6 favor_desc">
				<p class= "text-justify"><%=@favor.descripcion%></p>
				<div class="caption">
					<% if @favor.usuario == nil %>
						<p class="text-right"><small>Escrito por <b>USUARIO PRUEBA </b></small></p>
					<% else %>
						<p class="text-right"><small>Escrito por <b><%= @favor.usuario.nombre %> <%= @favor.usuario.apellido %></b></small></p>
					<% end %>
					<p class="text-right"><small><%= @favor.visitas %> visitas | <%= @favor.ciudad %> | <%= localize(@favor.created_at, :format => :long) %></small></p>
				</div>
			</div>
		</div>
	</div>
			<div class="col-md-12 container favor_com">
				<h3> Comentarios </h3>
				<table class="table table-condensed " >
					<% i = 1 %>
					<% @favor.comentarios.each do |c| %>
						<tr>
							<td>
								<%= i %>
							</td>
							<td>
									<% if c.descripcion != nil %>
										<p><b>Pregunta:</b> <%= c.descripcion %></p>
										<% if c.respuesta != nil %>
											<p><b>Respuesta:</b> <i><%= c.respuesta %></i></p>
										<% end %>
									<% end %>
							</td>
						</tr>
						<% i = i + 1 %>
					<% end %>
				</table>
			</div>
</div>