<!DOCTYPE html>
<html>
<head>
  <title>Gauchada</title>  
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
###DESDE ACÁ, TODO COPIADO DE http://getbootstrap.com/2.3.2/examples/fluid.html#contact
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Una Gauchada</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Conectado como <a href="#" class="navbar-link">Nombre de Usuario</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Página Principal</a></li>
              <li><a href="#about">Información Útil</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar- Podrían ser opciones de usuario</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        ###PUEDE SER QUE ACÁ VAYA EL YIELD
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; IT Works 2016</p>
      </footer>

    </div><!--/.fluid-container-->
###HASTA ACÁ, TODO COPIADO DE http://getbootstrap.com/2.3.2/examples/fluid.html#contact

	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
