<div class="well container-fluid text-center">
	<%= form_for @comentario do |c| %>
		<form class="horizontal">
			<div class="form-group text-left">
				<span data-toggle="tooltip" data-placement="bottom" title="Máximo 200 caracteres">
				<%= c.label "Respuesta", class: "form_lbl_dsc" %></span>
				<span data-toggle="tooltip" data-placement="bottom" title="La altura del campo se puede modificar desde la esquina inferior derecha">
				<%= c.text_area :respuesta, required: true, placeholder: 'Ingresar hasta 200 caracteres', class: "areat form-control"%></span>
			</div>
			<%= c.hidden_field :favor_id, value: @favor_id %>
			<br>
			<%= c.submit 'Guardar', class: "btn btn-success actions confirmation-btn"%>
			<%= link_to "Cancelar", :back, class: "btn btn-danger confirmation-btn" %>
		</form>
	<% end %>	
</div>