<%= form_for @logro do |l| %>
	<thead>
		<tr>
			<th><%= l.label :nombre %></th>
			<th><%= l.text_field :nombre, required: true, class: "form-control", placeholder: 'Nombre del logro' %></th>
		</tr>
		<tr>
			<th><%= l.label "Puntaje mínimo" %></th>
			<th><%= l.number_field :puntaje_min, required: true, class: "form-control", placeholder: 'Puntaje mínimo'  %></th>
		</tr>
		<tr>
			<th><%= l.label "Puntaje máximo" %></th>
			<th><%= l.number_field :puntaje_max, required: true, class: "form-control", placeholder: 'Puntaje máximo'  %></th>
		</tr>
	</thead>
	<tr>
		<!--Ver por qué anda mal el botón -->
		<td><%= l.submit 'Guardar', class: "btn btn-success" %></td>
<% end %>
		<td><%= link_to "Cancelar", logros_path, class: "btn btn-danger" %></td>
	</tr>
