<div class="well container-fluid text-center">
<%= form_for @logro do |l| %>
			<%= l.label :nombre, class: "form_lbl_nom" %>
			<%= l.text_field :nombre, required: true, placeholder: 'Nombre del logro',class: "submitter" %>
			<br><br>
			<%= l.label "Puntaje mínimo", class: "form_lbl_min" %>
			<%= l.number_field :puntaje_min, required: true, placeholder: 'Puntaje mínimo', class: "submitter"  %>
			<br><br>
			<%= l.label "Puntaje máximo", class: "form_lbl_max" %>
			<%= l.number_field :puntaje_max, required: true, placeholder: 'Puntaje máximo',class: "submitter"  %>
			<br><br>
			<%= l.submit 'Guardar', class: "btn btn-success actions confirmation-btn"%>
			<%= link_to "Cancelar", logros_path, class: "btn btn-danger confirmation-btn" %>
<% end %>
		
</div>