<div class="well">
<%= form_for @logro do |l| %>
		<%= l.label :nombre %></th>
		<%= l.text_field :nombre, required: true, placeholder: 'Nombre del logro' %>
		
		<%= l.label "Puntaje mínimo" %>
		<%= l.number_field :puntaje_min, required: true, placeholder: 'Puntaje mínimo'  %>
		<%= l.label "Puntaje máximo" %>
		<%= l.number_field :puntaje_max, required: true, placeholder: 'Puntaje máximo'  %>
		<!--Ver por qué anda mal el botón -->
		<%= l.submit 'Guardar', class: "btn btn-success actions" %>
<% end %>
		<%= link_to "Cancelar", logros_path, class: "btn btn-danger" %>
</div>