<table class="table table-hover">
	<thead>
		<tr>

			<th> Logro </th>

			<th> Puntaje Mínimo </th>

			<th> Puntaje Máximo </th>

			<th> Editar </th>

			<th> Eliminar </th>

		</tr>
	</thead>

	<% @logros.each do |logro| %>

		<tr>

			<td> <%= logro.nombre %> </td>

			<td> <%= logro.puntaje_min %> </td>

			<td> <%= logro.puntaje_max %> </td>

			<td> <%= link_to "Editar", edit_logro, method: :delete, class: "btn btn-primary" %> </td>

			<td> <%= link_to "Eliminar", logro, method: :delete, class: "btn btn-danger" %> </td>
		</tr>

	<% end %>

</table>
