<div class="container">
	<table class="table table-hover">

		<br>
		<thead>
			<tr>

				<th> Logro </th>

				<th> Puntaje mínimo </th>

				<th> Puntaje máximo </th>

				<th> Editar </th>

				<th> Eliminar </th>

			</tr>
		</thead>

		<% @logros.each do |logro| %>
			<% if logro.activo == true %>
				<tr>
					<td> <%= logro.nombre %> </td>

					<td> <%= logro.puntaje_min %> </td>

					<td> <%= logro.puntaje_max %> </td>

					<td> <%= link_to "Editar", edit_logro_path(logro.id), class: "btn btn-primary" %> </td> 

					<td> <%= link_to "Eliminar", logro, method: :delete, class: "btn btn-danger" %> </td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<br>
	<table class="table table-hover">
		<tr>
			<%= link_to "Nuevo logro", new_logro_path, class: "actions btn btn-success pull-right" %>
		</tr>
	</table>
</div>