<div class="container-fluid">
  <h3 class="titulo_form_l text-center">Ingresar</h3>
</div>
  <div class="well container-fluid text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :email, class: "for_lbl_email" %>
      <%= f.email_field :email, autofocus: true, class: "submitter" %>
    <br><br>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "submitter" %>
    <br><br>
    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Recuérdame" %>
    <% end -%>
    <br><br>
    <%= f.submit "Iniciar sesión" , class: "btn btn-success actions confirmation-btn"%>
    <%= link_to "Cancelar", root_path, class: "btn btn-danger confirmation-btn" %>
  <% end %>

    <br>
    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) , {:style=>'color:red', :class=>'css_class'}%>
    

</div>
