<div class="container-fluid">
	<div class="row favor_up panel panel-default">
		<div class="row">
			<div class="col-md-8">
				<h2 class="text-left"> Ofrecimiento para "<%= @favor.titulo %>"</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 favor_foto">
				<% if ((@favor.foto_url == "") || (@favor.foto_url == nil)) %>
					<%= image_tag "logo.png", title: "Logo", size: "380x380" %>
				<% else %>
					<%= image_tag @favor.foto_url, title: "Imagen Favor", :width => 380, :crop => :fit %>
				<% end %>
				<br><br><br>
				<div class="text-left">
						<% if current_usuario != nil && !elegido(@favor.id) %>
							<%= render 'delete_btn' %>
						<%end%>
						<%= link_to "Volver", favors_path, class: "btn btn-default favor_btn" %> 					
				</div>
			</div>
			<div class="col-md-6 favor_desc">
				<p class= "text-justify"><%=@ofrecimiento.descripcion%></p>
				<div class="caption">
					<p class="text-right"><small>Fecha limite<br><%= localize(@ofrecimiento.fecha_limite, :format => :long) %></small></p>
				</div>
			</div>
		</div>
		<% if current_usuario != nil && !elegido(@favor.id) %>
			<p class="text-right pull-botom"><small><b>Su ofrecimiento sigue pendiente </b></small></p>
		<% else %>
			<p class="text-right pull-botom"><small><b>Su ofrecimiento ha sido rechazado</b></small></p>
		<% end %>
	</div>
</div>