<div class="container-fluid">
	<div class="row perfil_up">
		<div class="row">
			<div class="col-md-6">
				<h2 class="text-left"> <%= @usuario.nombre %> <%= @usuario.apellido %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 perfil_foto">
				<%# if ((@usuario.foto_url == "") || (@usuario.foto_url == nil)) %>
					<%= image_tag "logo.png", title: "Logo", size: "150x150" %>
				<%# else %>
					<%# image_tag @usuario.foto_url, title: "Imagen Favor", :width => 380, :crop => :fit %>
				<%# end %>
				<% if isAdmin? %>
					<p class= "perfil_adm"><strong>Administrador</strong></p>
				<%end%>
			</div>
			<div class="col-md-6 perfil_desc">
				<ul class= "text-justify">
					<li>Sexo: <em><%= @usuario.sexo %></em></li><br>
					<li>Fecha de nacimiento: <em><%= @usuario.fecha_nacimiento %></em></li><br>
					<li>Teléfono: <em>+<%= @usuario.telefono %></em></li><br>
					<li>Email: <em><%= @usuario.email %></em></li><br>
					<% if !isAdmin? %>
						<li>Tenés <%= @usuario.puntos %> puntos y pertenecés al logro <em>"<%= @usuario.logro.nombre %>"</em></li><br>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<!-- div>
		<h3>Cancelar mi cuenta</h3>
      	<p>¿No conforme? <%# render 'usuarios/registrations/shutdownbutton' %></p>
    </div -->
</div>