<div class="container-fluid">
	<div class="row perfil_up">
		<div class="row">
			<div class="col-md-6">
				<h2 class="text-left"> <%= @usuario.nombre %> <%= @usuario.apellido %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 perfil_foto">
				<%# if ((@usuario.foto_url == "") || (@usuario.foto_url == nil)) %>
					<%= image_tag "logo.png", title: "Logo", size: "150x150" %>
				<%# else %>
					<%# image_tag @usuario.foto_url, title: "Imagen Favor", :width => 380, :crop => :fit %>
				<%# end %>
				<% if isAdmin? %>
					<p class= "perfil_adm"><strong>Administrador</strong></p>
				<%end%>
			</div>
			<div class="col-md-6 perfil_desc">
				<p><span class="perfil_txt">Sexo: </span><em><%= @usuario.sexo %></em></p><br>
				<p><span class="perfil_txt">Fecha de nacimiento: </span><em><%= @usuario.fecha_nacimiento %></em></p><br>
				<p><span class="perfil_txt">Teléfono: </span><em>+<%= @usuario.telefono %></em></p><br>
				<p><span class="perfil_txt">Email: </span><em><%= @usuario.email %></em></p><br>
				<% if !isAdmin? %>
					<p><span class="perfil_txt">Tenés</span> <%= @usuario.puntos %> <span class="perfil_txt">puntos y pertenecés al logro</span> <em>"<%= @usuario.logro.nombre %>"</em></li><br>
				<% end %>
			</div>
		</div>
	</div>
	<!-- div>
		<h3>Cancelar mi cuenta</h3>
      	<p>¿No conforme? <%# render 'usuarios/registrations/shutdownbutton' %></p>
    </div -->
</div>