<div class="container">
	<table class="table table-hover">

		<br>
		<thead>
			<tr>

				<th> Logro </th>

				<th> Puntaje mínimo </th>

				<th> Puntaje máximo </th>

				<th> Editar </th>

				<th> Eliminar </th>

			</tr>
		</thead>

		<% @logros.each do |logro| %>
			<% if logro.activo == true %>
				<tr>
					<td> <%= logro.nombre %> </td>

					<td> <%= logro.puntaje_min %> </td>

					<td> <%= logro.puntaje_max %> </td>

					<td> <%= link_to "Editar", edit_logro_path(logro.id), class: "btn btn-primary" %> </td> 

					<td><!-- Me ganó el botón de confirmación--> 
					<%= link_to "Eliminar", logro, method: :delete, class: "btn btn-danger" %>
						<!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Eliminar</button>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="borrando-logro">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content msg">
							      <div class="modal-body">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="borrando-logro">¿Estás seguro/a de que querés borrar el logro?</h4>
							      </div>
							      <div class="modal-footer">
							        <%# link_to "Eliminar", logro, method: :delete, class: "btn btn-danger" %>
							        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							      </div>
							    </div>
							  </div>
							</div>-->
					</td>
				</tr>
			<%end%>
		<% end %>
	</table>
	<br>
	<table class="table table-hover">
		<tr>
			<%= link_to "Nuevo logro", new_logro_path, class: "actions btn btn-success pull-right" %>
		</tr>
	</table>
</div>