<nav class="navbar navbar-default sidebar pull-right" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class= "text-center"><%= link_to "Inicio", favors_path%></li>
        <%if isLogged? %>  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><%= link_to "Ver", usuario_path%></li>
              <li class="divider"></li>
              <li><%= link_to "Modificar", edit_usuario_registration_path%></li>
              <li><%= link_to "Eliminar cuenta", delete_usuario_path%></li>
              <%if !isAdmin?%>  
                <li class="divider"></li>
                <li><%= link_to "Comprar puntos", new_punto_compra_path%></li>
              <%end%>
              <!--<li class="divider"></li>
              <li><i>Logro: <%#current_usuario.logro.nombre%></i></li>
              <li class="divider"></li>
              <li><i>Cantidad de puntos: <%# howManyPoints?() %></i></li>-->
            </ul>
          </li>
          <%if !isAdmin?%>  
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Favores<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
              <ul class="dropdown-menu forAnimate" role="menu">
                  <li><%# link_to "Ver mis pedidos", mis_favores_favors_path%><%= link_to "Ver mis pedidos", root_path%></li>
                  <li class="divider"></li>  
                  <li><a href="#">Ver mis postulaciones</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Pedir un favor", new_favor_path%></li>
              </ul>
            </li>
          <%end%>
        <%end%>
        <%if isAdmin?%>          
          <li ><%= link_to "Logros", logros_path%></li>
        <%end%>
<!--        <li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">¿Filtros, órdenes?<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>-->
<!--          <ul class="dropdown-menu forAnimate" role="menu">-->
<!--            <li><a href="#">Filtrar</a></li>-->
<!--            <li class="divider"></li>-->
<!--            <li><a href="#">Ordenar</a></li>-->
<!--          </ul>-->
<!--        </li>        -->
      </ul>
    </div>
  </div>
</nav>