<!DOCTYPE html>
<html>
<head>
  <title>Una Gauchada</title>  
  <%= favicon_link_tag 'logoico.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">

<%= render 'layouts/header' %>

<% if flash[:notice] %>
  <div class="alert alert-success"> <%= flash[:notice] %> </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger"> <%= flash[:alert] %> </div>
<% end %>
<% if flash[:success] %>
  <div class="alert alert-success"> <%= flash[:success] %> </div>
<% end %>
<% if flash[:danger] %>
  <div class="alert alert-danger"> <%= flash[:danger] %> </div>
<% end %>
<% if flash[:warning] %>
  <div class="alert alert-warning"> <%= flash[:warning] %> </div>
<% end %>


<%# yield %>


<div class= "container-fluid">
  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <div class="col-md-3">
      <%= render 'layouts/barraderecha' %>
    </div>
  </div>
</div>

</body>
</html>